@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Karla:wght@700&family=Poppins:wght@600&family=Roboto&display=swap');

* {
    margin : 0;
    padding: 0;
}

body {
    background-color: #121212;
    box-sizing      : border-box;
    font-family     : 'Exo 2', sans-serif, 'Karla', sans-serif, 'Poppins', sans-serif, 'Roboto', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container {
    max-width        : 1000px;
    width            : 100%;
    /* max-height    : 960px; */
    height           : auto;
    margin           : auto auto;
    display          : flex;
    flex-direction   : row;
}

.header-left {
    display       : flex;
    flex-direction: column;
    padding-top   : 20px;
    width         : 55%;
    max-width     : 600px;
    width         : 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size  : 60px;
    line-height: 80px;
    font-weight: 600;
    color      : white;
    padding-top: 8px;
}

.logo {
    margin   : 3% auto;
    max-width: 270px;
    width    : 100%;
    height   : auto;
}

h4 {
    font-family               : 'Exo 2', sans-serif;
    font-size                 : 28px;
    line-height               : 37.21px;
    font-weight               : 400;
    background                : linear-gradient(to right, #00E733, #00E0FF);
    -webkit-background-clip   : text;
    -webkit-text-fill-color   : transparent;
    color                     : #0B2349;
    display                   : table;
    /* margin                 : 20px auto; */
}



.btn-search {
    border-radius   : 25px;
    background-color: #20385A;
    font-family     : 'Roboto', sans-serif;
    line-height     : 46.25px;
    font-size       : 28px;
    padding         : 10px;
    margin          : 5px 10px 10px;
    width           : 280px;
    border          : none;
}

.btn-submit {
    border-radius   : 25px;
    background-color: #4C87BF;
    font-family     : 'Roboto', sans-serif;
    line-height     : 46.25px;
    font-size       : 28px;
    padding         : 10px;
    margin          : 5px 10px 10px;
    width           : 280px;
    border          : none;
}

.btn-submit:hover {
    background-color: #2f5182;
}

.btn-search:hover {
    background-color: #2f5182;
}

.header-logo {
    display       : flex;
    flex-direction: column;
}

.header-logo>p {
    font-family: 'Exo 2', sans-serif;
    font-size  : 18px;
    line-height: 17px;
    color      : white;
    text-align : center;
}

.header-logo>a {
    font-family    : 'Exo 2', sans-serif;
    font-size      : 18px;
    line-height    : 17px;
    color          : white;
    text-align     : center;
    text-decoration: none;
}

.header-logo>p>span {
    padding-left: 80px;
}

.right-logo {
    /* max-width : 767px;
    max-height: 668px; */
    width  : 100%;
    height : auto;
    padding: 30px 0;
}

.header-right {
    padding-top: 50px;
    max-width  : 600px;
    width      : 100%;
}


.modal-window {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding-top    : 15%;

}

.modal-window-item {
    background-color: black;
    border-radius: 20% !important;
}

.mod-body {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    border         : none;
}

.header-title-btn {
    display: flex;
}

.modal-footer {
    border: none;
}

.modal-header {
    border: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.btn-sub {
    text-align   : center;
    margin       : 0 auto;
    border-radius: 15px;
}

h5 {
    color      : white;
    text-align : center !important;
    font-size  : 40px;
    font-weight: 700;
    margin     : 0 auto;
    line-height: 70px;
}

input {
    max-width      : 275px;
    width          : 100%;
    margin         : 1px auto;
    padding        : 5px;
    border-radius  : 10px;
    border         : none;
    outline        : none;
    justify-content: center;
    text-align     : center;
}





.left-logo{
    display: none;
    width  : 100%;
    height : auto;
    padding: 30px 0;
}

@media screen and (max-width: 1024px) {
    .header-left {
        display       : flex;
        flex-direction: column;
        padding-top   : 20px;
        max-width     : 510px;
        width         : 100%;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size  : 50px;
        line-height: 80px;
        font-weight: 600;
        color      : white;
        padding-top: 28px;
    }

    .logo {
        width : 100%;
        height: auto;
        margin: 10px auto;
    }


    h4 {
        font-family               : 'Exo 2', sans-serif;
        font-size                 : 24px;
        line-height               : 37.21px;
        font-weight               : 400;
        background                : linear-gradient(to right, #00E733, #00E0FF);
        -webkit-background-clip   : text;
        -webkit-text-fill-color   : transparent;
        color                     : #0B2349;
        display                   : table;
        /* margin                 : 20px auto; */
    }

    .btn-search {
        border-radius   : 25px;
        background-color: #20385A;
        font-family     : 'Roboto', sans-serif;
        line-height     : 26.25px;
        font-size       : 22px;
        padding         : 10px;
        margin          : 25px 3px;
    }

    .btn-submit {
        border-radius   : 25px;
        background-color: #4C87BF;
        font-family     : 'Roboto', sans-serif;
        line-height     : 46.25px;
        font-size       : 22px;
        padding         : 10px;
        margin          : 25px 3px;
    }

    .header-logo {
        display       : flex;
        flex-direction: column;
    }

    .header-logo>p {
        font-family: 'Exo 2', sans-serif;
        font-size  : 18px;
        line-height: 17px;
        color      : white;
    }

    .header-logo>p>span {
        padding-left: 80px;
    }

    /* .right-logo {
        max-width : 767px;
        max-height: 668px;
        width     : 100%;
        height    : 100%;
    } */

    .header-right {
        padding-top: 50px;
        max-width  : 600px;
        width      : 100%;
    }

    .modal-window {
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding-top    : 15%;
    }

    .modal-window-item {
        background-color: black;
    }

    .mod-body {
        display        : flex;
        justify-content: center;
        flex-direction : column;
        border         : none;
    }

    .header-title-btn {
        display: flex;
    }

    .modal-footer {
        border: none;
    }

    .modal-header {
        border: none;
    }

    .btn-sub {
        text-align   : center;
        margin       : 0 auto;
        border-radius: 15px;
    }

    h5 {
        color      : white;
        text-align : center !important;
        font-size  : 40px;
        font-weight: 700;
        margin     : 0 auto;
        line-height: 70px;
    }

    input {
        max-width      : 275px;
        width          : 100%;
        margin         : 1px auto;
        padding        : 5px;
        border-radius  : 10px;
        border         : none;
        outline        : none;
        justify-content: center;
        text-align     : center;
    }





    @media screen and (max-width: 768px) {
        .container {
            max-width         : 740px;
            width             : 100%;
            max-height        : 100vh;
            margin            : 0 auto;
            display           : flex;
            flex-direction    : row;
            flex-wrap         : wrap;
            justify-content   : center;
            /* align-items    : center; */
            padding-top       : 8px;
        }

        .header-left {
            display       : flex;
            flex-direction: column;
            margin        : 0 auto;
            padding       : 10px;
            width         : 100%;
        }

        .header-title-btn {
            margin: 10px 0;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            font-size  : 50px;
            line-height: 70px;
            font-weight: 600;
            color      : white;
            padding-top: 8px;
        }

        .logo {
            display: none;
            width : 100%;
            height: auto;
            margin: 0 auto;
        }
        .left-logo{
            display: block;
            width  : 100%;
            height : auto;
            padding: 10px 0;
            text-align: center;
        }
        h4 {
            font-family            : 'Exo 2', sans-serif;
            font-size              : 20px;
            line-height            : 37.21px;
            font-weight            : 400;
            background             : linear-gradient(to right, #00E733, #00E0FF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color                  : #0B2349;
            display                : table;
            margin                 : 10px auto;
        }

        .btn-search {
            border-radius      : 25px;
            background-color   : #20385A;
            font-family        : 'Roboto', sans-serif;
            line-height        : 36.25px;
            font-size          : 22px;
            /* padding         : 10px; */
            margin             : 15px 10px;
            width              : 270px;
        }

        .btn-submit {
            border-radius      : 25px;
            background-color   : #4C87BF;
            font-family        : 'Roboto', sans-serif;
            line-height        : 36.25px;
            font-size          : 22px;
            /* padding         : 10px; */
            margin             : 15px 10px;
            width              : 270px;
        }

        .header-logo {
            display       : flex;
            flex-direction: column;
            margin        : 30px 0;
        }

        .header-logo>p {
            font-family: 'Exo 2', sans-serif;
            font-size  : 18px;
            line-height: 17px;
            color      : white;
        }

        .header-logo>p>span {
            padding-left: 80px;
            text-align: center;
        }

        .right-logo {
            display: none;
        }

        .modal-window {
            display        : flex;
            justify-content: center;
            align-items    : center;
            padding-top    : 25%;
        }

    }

    @media screen and (max-width: 500px) {
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size  : 40px;
            line-height: 70px;
            font-weight: 600;
            color      : white;
            padding-top: 8px;
        }

        .btn-search {
            border-radius      : 25px;
            background-color   : #20385A;
            font-family        : 'Roboto', sans-serif;
            line-height        : 36.25px;
            font-size          : 17px;
            /* padding         : 10px; */
            margin             : 15px 10px;
            width              : 270px;
        }

        .btn-submit {
            border-radius      : 25px;
            background-color   : #4C87BF;
            font-family        : 'Roboto', sans-serif;
            line-height        : 36.25px;
            font-size          : 17px;
            /* padding         : 10px; */
            margin             : 15px 10px;
            width              : 270px;
        }
    }

    @media screen and (max-width: 425px) {
        .container {
            max-width      : 420px;
            width          : 100%;
            max-height     : 100vh;
            margin         : 0 auto;
            display        : flex;
            flex-direction : row;
            flex-wrap      : wrap;
            justify-content: center;
            align-items    : center;
        }

        .header-left {
            display       : flex;
            flex-direction: column;
            margin        : 0 auto;
            padding       : 10px;
            width         : 100%;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            font-size  : 30px;
            line-height: 50px;
            font-weight: 600;
            color      : white;
            padding-top: 28px;
            text-align : center;
        }

        .logo {
            display   : none;
            max-width : 207px;
            max-height: 201px;
            width     : 100%;
            height    : 100%;
        }
        .left-logo{
            display: block;
        }
        h4 {
            font-family            : 'Exo 2', sans-serif;
            font-size              : 16px;
            line-height            : 27.21px;
            font-weight            : 400;
            background             : linear-gradient(to right, #00E733, #00E0FF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color                  : #0B2349;
            display                : table;
            margin                 : 0 auto;
        }

        .header-title-btn {
            display        : flex;
            justify-content: center;
            align-content  : center;
            flex-direction : column;
            float          : bottom;
        }

        .btn-search {
            border-radius      : 25px;
            background-color   : #20385A;
            font-family        : 'Roboto', sans-serif;
            line-height        : 36.25px;
            font-size          : 18px;
            /* padding         : 10px; */
            width              : 230px;
            margin             : 10px auto;
        }

        .btn-submit {
            border-radius   : 25px;
            background-color: #4C87BF;
            font-family     : 'Roboto', sans-serif;
            line-height     : 36.25px;
            font-size       : 18px;
            padding         : 10px;
            width           : 230px;
            margin          : 10px auto;
        }

        .header-logo {
            display       : block;
            flex-direction: column;
        }

        .header-logo>p {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
        }
        .header-logo>a {
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .header-logo>p>span {
            padding-left: 0;
            margin: 2% 0;
        }

        .right-logo {
            
            width     : 100%;
            height    : auto;
        }

        .modal-window {
            display        : flex;
            justify-content: center;
            align-items    : center;
            padding-top    : 50%;
        }
    }
}


.callback-bt {
    background:#38a3fd;
    opacity: .8;
    border:2px solid rgb(103, 103, 167);
    border-radius:50%;
    box-shadow:0 8px 10px rgba(56,163,253,0.3);
    cursor:pointer;
    height:68px;
    text-align:center;
    width:68px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index:999;
    transition:.3s;
    -webkit-animation:hoverWave linear 1s infinite;
    animation:hoverWave linear 1s infinite;
}

.callback-bt .text-call{
    height:68px;
    width:68px;        
    border-radius:50%;
    position:relative;
    overflow:hidden;
}

.callback-bt .text-call span {
    text-align: center;
    color:#38a3fd;
    opacity: 0,5;
    font-size: 0;
    position:absolute;
    right: 4px;
    top: 22px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
    opacity: 1;
    font-size: 11px;
}
.callback-bt:hover i {
    display:none;
}

.callback-bt:hover {
    z-index:1;
    background:#fff;
    color:transparent;
    transition:.3s;
}
.callback-bt:hover i {
    color:#38a3fd;
    font-size:40px;
    transition:.3s;
}
.callback-bt i {
    color:#fff;
    font-size:34px;
    transition:.3s;
    line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt i  {
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes hoverWave {
    0% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}@keyframes hoverWave {
    0% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}
@keyframes shake {
    0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
    50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
    90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}
@-webkit-keyframes shake {
    0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
    50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
    90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}